[Desktop Entry]
Encoding=UTF-8
Name=Link to Next
Type=Link
URL=file:///home/wilder/Documents/Quetes/05%20-%20Int%C3%A9gration%20finale%20-%20Part%202/index.html#carouselExampleIndicators
Icon=text-html
